modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100000;
}
modal .modal-header {
    background-color: #e0e0e0;
    border-bottom: 1px solid #d3d3d3;
    color: #2d2d2d;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
modal .modal-body {
    min-height: 100px;
}
modal .modal-footer {
    padding: 10px 15px;
    border-top: 1px solid #d3d3d3;
    height: 55px;
    background-color: #e0e0e0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
modal .loading {
    text-align: center;
    margin: 26px auto;
    color: #000;
    background-color: #fff;
    padding: 15px 0 15px 4px;
    width: 100px;
    border-radius: 5px;
}