/* app css stylesheet */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: arial, sans-serif;
  padding: 20px 0;
}

buttons {
  margin-top: 10px;
  display: block;
}

empty-message {
  background-color: #F9F9F9;
  margin-top: 10px;
  border: solid 1px #ccc;
  text-align: center;
  padding: 60px;
  display: block;
}

form {
  margin-bottom: 30px;
}

form-item, form-section, form-item-container {
  width: auto;
  display: block;
}

form-item-container {
  display: block;
  overflow: hidden;
}

form-item-container label {
  clear: both;
  display: block;
}

form-item-container form-item {
  float: left;
  width: 49%;
}

form-item-container form-item.last {
  float: right;
}

form label {
  font-weight: normal;
}

content{
  margin: 0 30px 30px;
  display: block;
}

summary {
  margin-bottom: 30px;
}

form textarea {
  max-width: 100%;
  height: 15px;
  min-height: 150px;
  max-height: 150px;
}

table {
  border: solid 1px #ccc;
}

version {
  display: block;
  height: 40px;
  border-top:solid 1px #eaeaea;
  padding: 10px 0;
  margin-top: 30px;
}

error {
  display: block;
  width:400px;
  height: 100px;
  padding: 10px;
  margin-bottom: 20px;
}
/************************************* COLORS*/
/************************************* Content settings*/
modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100000;
}
modal .modal-header {
  background-color: #e0e0e0;
  border-bottom: 1px solid #d3d3d3;
  color: #2d2d2d;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
modal .modal-body {
  min-height: 100px;
}
modal .modal-footer {
  padding: 10px 15px;
  border-top: 1px solid #d3d3d3;
  height: 55px;
  background-color: #e0e0e0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
modal .loading {
  text-align: center;
  margin: 26px auto;
  color: #000;
  background-color: #fff;
  padding: 15px 0 15px 4px;
  width: 100px;
  border-radius: 5px;
}


.td-is-dry {
  width: 100px;
}


body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

#map {
  width: 100%;
  height: 100%;
}

div.fill {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.ol-scale-line {
  margin-bottom: 25px;
}

.draw-control {
  top: 80px;
  left: .5em;
}

.addon {
  position: absolute;
  z-index: 1000;
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.address-search {
  top: 6px;
  left: 40px;
  width: 400px;
}

.farm-layers {
  top: 6px;
  right: 5px;
  width: 150px;
}

.init-hidden {
  display: none;
}

modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100000;
}
modal .modal-header {
  background-color: #e0e0e0;
  border-bottom: 1px solid #d3d3d3;
  color: #2d2d2d;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
modal .modal-body {
  min-height: 100px;
}
modal .modal-footer {
  padding: 10px 15px;
  border-top: 1px solid #d3d3d3;
  height: 55px;
  background-color: #e0e0e0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
modal .loading {
  text-align: center;
  margin: 26px auto;
  color: #000;
  background-color: #fff;
  padding: 15px 0 15px 4px;
  width: 100px;
  border-radius: 5px;
}


/* Form layout*/
form-item,
form-section,
farm-details
{
  width: auto;
  display: block;
}

form-section {
  padding: 5px;
}

form-item {
  margin-bottom: 5px;
}

.show-errors input.ng-invalid {
  border: solid 2px #ffe4ea !important;
}
{
  display: block;
  overflow: hidden;
}
label {
  clear: both;
  display: block;
}

form label {
  font-weight: normal;
}
form fieldset {
  margin: 0 30px 30px;
}
form textarea {
  max-width: 100%;
  height: 15px;
  min-height: 150px;
  max-height: 150px;
}

.measure.area {
  top: 80px;
  left: .5em;
}

.measure.area.active button {
  background-color: #ff6600;
}

.measure.length {
  top: 110px;
  left: .5em;
}

.measure.length.active button {
  background-color: #ff6600;
}

.ol-touch .measure {
  top: 95px;
}
