

.measure.area {
    top: 85px;
    left: .5em;
}

.measure.area.active button {
    background-color: #ff6600;
}

.measure.length {
    top: 112px;
    left: .5em;
}

.measure.length.active button {
    background-color: #ff6600;
}

.ol-touch .measure.length {
    top: 130px;
}

.ol-touch .measure.area {
    top: 95px;
}