

.measure.area {
    top: 80px;
    left: .5em;
}

.measure.area.active button {
    background-color: #ff6600;
}

.measure.length {
    top: 110px;
    left: .5em;
}

.measure.length.active button {
    background-color: #ff6600;
}

.ol-touch .measure.length {
    top: 110px;
}