<form-section>
    <form-item class="form-group">
        <label>Farm name *:</label>
        <input type="text" id="farmName" name="farmName" class="form-control"
               ng-model="farmData.name"
               required>
    </form-item>
    <form-item class="form-group">
        <label>Area in hectares:</label>

        <p class="form-control"
           ng-bind="farmData.area"></p>
    </form-item>
    <form-item class="form-group">
        <label>Date last updated:</label>
          <span class="form-control"
                ng-bind="farmData.dateLastUpdated | date: 'medium'"></span>
    </form-item>


    <wrapper ng-show="farmChanged">
        <button class="btn btn-primary" ng-click="apply()" ng-disabled="!farmChanged">
            Apply
        </button>
        <button class="btn btn-default" ng-click="cancel()" ng-disabled="!farmChanged">
            Cancel
        </button>
    </wrapper>

    <button class="btn btn-primary" ng-click="exportFarmData(farmData)">
        Export farm data
    </button>

    <a id="download"></a>

    <button class="btn btn-danger" ng-click="clear()" ng-show="farmData.name">
        Clear session
    </button>
</form-section>