<fieldset ng-show="selectedPaddock._id || selectedPaddock.name|| selectedPaddock.geometry">
    <legend>Paddock information</legend>
    <form-section>
        <form-item class="form-group">
            <label for="selectedPaddockName">Name:</label>
            <input type="text" id="selectedPaddockName" class="form-control"
                   ng-model="selectedPaddock.name"
                   ng-change="onPaddockDetailsChanged()"
                   required
                    />
        </form-item>
        <form-item class="form-group">
            <label for="selectedPaddockArea">Area (hectares):</label>

            <p type="text" id="selectedPaddockArea" class="form-control"
               ng-bind="selectedPaddock.area | number : 2"
                    ></p>
        </form-item>
        <form-item class="form-group">
            <label for="selectedPaddockType">Type:</label>
            <select id="selectedPaddockType" class="form-control" ng-change="onPaddockDetailsChanged()"
                    ng-model="selectedPaddock.type">
                <option value="Annual Pasture">Annual Pasture</option>
                <option value="Bull Paddock">Bull Paddock</option>
                <option value="Calving paddocks">Calving paddocks</option>
                <option value="Calf Rearing Area">Calf Rearing Area</option>
                <option value="Dairy">Dairy</option>
                <option value="Effluent Paddocks">Effluent Paddocks</option>
                <option value="Feedpad">FeedPad</option>
                <option value="Lucerne">Lucerne</option>
                <option value="Other Crops">Other Crops</option>
                <option value="Permanent Pasture">Permanent Pasture</option>
                <option value="Springer Paddock">Springer Paddocks</option>
                <option value="Sumer Crops">Summer Crops</option>
            </select>
        </form-item>
        <form-item>
            <label for="selectedPaddockType">Group:</label>
            <select name="edit_group_type" id="edit_group_type" style="margin-bottom:10px" class="form-control" ng-change="onPaddockDetailsChanged()" ng-model="selectedPaddock.group">

                <option value="0">N/A - Type Not Set</option>

                <option value="1">E - Effluent</option>

                <option value="2">N - Night Paddocks</option>

                <option value="3">A - Average Use and Soil Type Paddock</option>

                <option value="7">UL - Usually Harvested, Limited Feeding Back</option>

                <option value="8">UF - Usually Harvested, Usually Fed Back</option>

                <option value="9">NL - Never Harvested and Limited Feeding Back</option>

                <option value="10">NF - Never Harvested and Usually Fed Back</option>

                <option value="11">NL1 - 1st Variation of NL</option>

                <option value="13">NL2 - 2nd Variation of NL</option>

                <option value="14">NF1 - 1st Variation of NF</option>

                <option value="15">NF2 - 2nd Variation of NF</option>

                <option value="17">UL1 - 1st Variation of UL</option>

                <option value="18">UF1 - 1st Variation of UF</option>

                <option value="19">C - Crop</option>

                <option value="20">FC - Future Crop</option>

                <option value="21">O - Other</option>

                <option value="22">O1 - 1st Variation of O</option>
            </select>
        </form-item>
        <form-item class="form-group">
            <label for="selectedPaddockComment">Comment:</label>
            <textarea id="selectedPaddockComment" class="form-control" ng-change="onPaddockDetailsChanged()"
                      ng-model="selectedPaddock.comment"></textarea>
        </form-item>
        <button class="btn btn-primary" ng-click="enableDonutDrawing()" ng-show="farmData.name && !donutDrawing">
            Enable donut drawing
        </button>
        <button class="btn btn-primary" ng-click="disableDonutDrawing()" ng-show="farmData.name && donutDrawing">
            Disable donut drawing
        </button>
        <button class="btn btn-danger" ng-click="removeSelectedPaddock()" ng-show="farmData.name">
            Remove
        </button>
        <wrapper ng-show="paddockChanged">
            <button class="btn btn-primary" ng-click="apply()">
                Apply
            </button>
            <button class="btn btn-default" ng-click="cancel()">
                Cancel
            </button>
        </wrapper>
        <hr/>
    </form-section>
</fieldset>
