<form-section ng-show="selectedPaddockName">
    <form-item class="form-group">
        <label for="selectedPaddockName">Paddock's Name:</label>
        <input type="text" id="selectedPaddockName" class="form-control"
               ng-model="selectedPaddockName"
               required
                />
    </form-item>
    <button class="btn btn-danger" ng-click="removeSelectedPaddocks()" ng-show="farmData.name">
        Remove
    </button>
    <wrapper ng-show="paddockChanged">
        <button class="btn btn-primary" ng-click="apply()">
            Apply
        </button>
        <button class="btn btn-default" ng-click="cancel()">
            Cancel
        </button>
    </wrapper>
    <hr/>
</form-section>